.App {
  text-align: center;
}

.home-posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.post-list-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  margin-right: 20px;
}

/* .post-list-data {
} */
